# .gitignore

# Ignore node_modules directory
node_modules/

# Ignore upgrade directory
upgrade/

# Ignore themes directory
themes/

# Ignore upgrade-temp-backup directory
upgrade-temp-backup/

# Ignore ACF and Members plugins
plugins/advanced-custom-fields/
plugins/members/

# Ignore uploads directory
uploads/
